---
import { Image } from 'astro:assets'
import { CollectionEntry, getCollection } from 'astro:content'

interface Props {
  guide: string
}

function validateGuidePostsPositions(posts: CollectionEntry<'posts'>[]) {
  const postPositions = posts
    .map((post) => post.data.guide?.position)
    .filter((pos): pos is number => pos !== undefined)

  postPositions.sort((a, b) => a - b)

  // Check for duplicates
  for (let i = 1; i < postPositions.length; i++) {
    if (postPositions[i] === postPositions[i - 1]) {
      throw new Error(`Duplicate post position ${postPositions[i - 1]} found`)
    }
  }

  // Check for missing numbers
  for (let i = 1; i < postPositions.length; i++) {
    if (postPositions[i] !== postPositions[i - 1] + 1) {
      throw new Error(
        `Position ${postPositions[i - 1] + 1} expected but missing`,
      )
    }
  }

  return true
}

const { guide } = Astro.props
const posts = await getCollection(
  'posts',
  (post) => post.data.guide && guide === post.data.guide.ref.id,
).then((posts) => {
  validateGuidePostsPositions(posts)
  return posts.sort((a, b) => {
    if (!a.data.guide)
      throw new Error(`Post ${a.data.title} is missing the guide`)
    if (!b.data.guide)
      throw new Error(`Post ${b.data.title} is missing the guide`)
    return a.data.guide.position - b.data.guide.position
  })
})
---

<section class="bg-blue-50 py-16">
  <div class="mx-auto px-4 sm:px-6 md:max-w-2xl md:px-4 lg:max-w-4xl lg:px-12">
    <h2
      class="mb-2 inline-flex items-center rounded-full bg-blue-50 px-4 py-1 text-blue-600 ring-1 ring-inset ring-blue-600"
    >
      <span class="text-base font-medium tracking-wide">Lessons</span>
    </h2><p
      class="font-display text-4xl font-bold tracking-tight text-slate-900"
    >
      The foundation of a great dev workflow
    </p><p class="mt-4 text-lg tracking-tight text-slate-700">
      Learn how to set up your own dev workflow from scratch using well-tested
      apps and tools to create an efficient and productive environment in <strong
        >under an hour.</strong
      >
    </p>
  </div><div
    class="mx-auto mt-16 px-4 sm:px-6 md:max-w-2xl md:px-4 lg:max-w-7xl lg:px-8"
  >
    <ol
      role="list"
      class="grid grid-cols-1 gap-x-8 gap-y-10 [counter-reset:video] sm:grid-cols-2 lg:grid-cols-4"
    >
      {
        posts.map((post) => (
          <li class="[counter-increment:video]">
            <a href={`/posts/${post.id}`}>
              <Image
                alt={post.data.title}
                loading="lazy"
                width="400"
                height="216"
                class="w-full rounded-2xl shadow-lg"
                src={post.data.thumbnail}
              />

              <h3 class="mt-6 text-lg font-extrabold leading-tight tracking-tight text-slate-900 before:mb-1 before:block before:font-mono before:text-lg before:text-blue-600 before:content-[counter(video,decimal-leading-zero)]">
                {post.data.title}
              </h3>
              <p class="mt-2 text-sm text-slate-600">{post.data.description}</p>
            </a>
          </li>
        ))
      }
    </ol>
  </div>
</section>
