---
import Layout from "../../components/Layout.astro";
import clsx from "clsx";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import CategoryIcon from "~/components/CategoryIcon.astro";
import PostCard from "~/components/post/PostCard.astro";

export async function getStaticPaths() {
  const categories = await getCollection("categories");
  return categories.map((category) => ({
    params: { slug: category.slug },
    props: { category },
  }));
}

interface Props {
  category: CollectionEntry<"categories">;
  posts: CollectionEntry<"posts">[];
}

const { category } = Astro.props;
const posts = await getCollection(
  "posts",
  (post) => !post.data.draft && category.slug === post.data.category.slug
);
const { Content } = await category.render();
---

<Layout
  title={category.data.title}
  description={category.data.desc}
  themeColor={category.data.style.themeColor}
>
  <header
    class={clsx("text-center flex-grow pb-12", category.data.style.container)}
  >
    <CategoryIcon slug={category.slug} class="mx-auto mt-12 w-32" />
    <h1 class="mb-2 mt-10 text-2xl font-extrabold md:text-4xl">
      {category.data.title}
    </h1>
    <p>{category.data.desc}</p>
  </header>

  <section class={clsx("px-4 py-12")}>
    <div class="mx-auto max-w-screen-2xl">
      <section
        class="grid gap-4 sm:grid-cols-2 sm:gap-8 md:grid-cols-3 lg:grid-cols-4"
      >
        {posts.map((post) => <PostCard post={post} />)}
      </section>
    </div>
  </section>

  <main class={clsx("bg-white mb-20 mt-32")}>
    <article
      class="prose mx-auto max-w-screen-md bg-white px-4 prose-a:text-blue-600 hover:prose-a:text-blue-500"
    >
      <Content />
    </article>
  </main>
</Layout>
