---
export interface Props {
  title: string;
  description: string;
  themeColor?: string;
  image?: string;
}
import { SITE_TITLE } from "../config";
const isProd = import.meta.env.PROD;
const {
  title,
  description,
  themeColor,
  image = "/placeholder-social.jpg",
} = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />
<meta name="theme-color" content={themeColor ?? "#ffffff"} />

<!-- Primary Meta Tags -->
<title>{title} | {SITE_TITLE}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />
<meta name="twitter:image:width" content="1400" />
<meta name="twitter:image:height" content="788" />

<!-- Use Fathom Analytics -->
{
  isProd && (
    <script
      src="https://cdn.usefathom.com/script.js"
      data-site="VLMOLRDQ"
      defer
    />
  )
}

<!-- Base TailwindCSS Theme -->
<style is:global>
  :root {
    --color-black: #00221f;
    --color-white: #ffffff;
    --color-foreground: var(--color-black);
    --color-background: var(--color-white);

    --color-neutral-50: #f8fafc;
    --color-neutral-100: #f1f5f9;
    --color-neutral-200: #e2e8f0;
    --color-neutral-300: #cbd5e1;
    --color-neutral-400: #94a3b8;
    --color-neutral-500: #64748b;
    --color-neutral-600: #475569;
    --color-neutral-700: #334155;
    --color-neutral-800: #1e293b;
    --color-neutral-900: #0f172a;
    --color-neutral-default: var(--color-neutral-500);
    --color-neutral-subtle: var(--color-neutral-100);

    --color-primary-50: #f2f8f8;
    --color-primary-100: #e6f2f1;
    --color-primary-200: #c0dedb;
    --color-primary-300: #99c9c5;
    --color-primary-400: #4da19a;
    --color-primary-500: #01796f;
    --color-primary-600: #016d64;
    --color-primary-700: #015b53;
    --color-primary-800: #014943;
    --color-primary-900: #003b36;
    --color-neutral-default: var(--color-neutral-500);
    --color-neutral-subtle: var(--color-neutral-100);

    --color-cta-50: #fdf4f9;
    --color-cta-100: #fbe9f2;
    --color-cta-200: #f5c7df;
    --color-cta-300: #efa5cc;
    --color-cta-400: #e462a5;
    --color-cta-500: #d81e7f;
    --color-cta-600: #c21b72;
    --color-cta-700: #a2175f;
    --color-cta-800: #82124c;
    --color-cta-900: #82124c;
    --color-cta-default: var(--color-cta-500);
    --color-cta-subtle: var(--color-cta-100);

    --color-uncommon-50: #f5f3ff;
    --color-uncommon-100: #ede9fe;
    --color-uncommon-200: #ddd6fe;
    --color-uncommon-300: #c4b5fd;
    --color-uncommon-400: #a78bfa;
    --color-uncommon-500: #8b5cf6;
    --color-uncommon-600: #7c3aed;
    --color-uncommon-700: #6d28d9;
    --color-uncommon-800: #5b21b6;
    --color-uncommon-900: #4c1d95;
    --color-uncommon-default: var(--color-uncommon-500);
    --color-uncommon-subtle: var(--color-uncommon-100);

    --color-success-50: #f6fdf8;
    --color-success-100: #ecfbf1;
    --color-success-200: #d0f4db;
    --color-success-300: #b3edc6;
    --color-success-400: #7ae09b;
    --color-success-500: #41d270;
    --color-success-600: #3bbd65;
    --color-success-700: #319e54;
    --color-success-800: #277e43;
    --color-success-900: #20673;
    --color-success-default: var(--color-success-500);
    --color-success-subtle: var(--color-success-100);

    --color-error-50: #fcf4f4;
    --color-error-100: #fae9e9;
    --color-error-200: #f2c7c9;
    --color-error-300: #eaa5a8;
    --color-error-400: #da6266;
    --color-error-500: #ca1f25;
    --color-error-600: #b61c21;
    --color-error-700: #98171c;
    --color-error-800: #791316;
    --color-error-900: #630f19;
    --color-error-default: var(--color-error-500);
    --color-error-subtle: var(--color-error-100);

    --color-warning-50: #fefef7;
    --color-warning-100: #fefdee;
    --color-warning-200: #fcf9d5;
    --color-warning-300: #f9f5bb;
    --color-warning-400: #f5ee88;
    --color-warning-500: #f1e655;
    --color-warning-600: #d9cf4d;
    --color-warning-700: #b5ad40;
    --color-warning-800: #918a33;
    --color-warning-900: #76712;
    --color-warning-default: var(--color-warning-500);
    --color-warning-subtle: var(--color-warning-100);
  }

  [data-theme="dark"] {
    --color-foreground: var(--color-white);
    --color-background: var(--color-black);
    --color-primary-default: var(--color-primary-400);
    --color-primary-subtle: var(--color-primary-900);
    --color-cta-default: var(--color-cta-400);
    --color-cta-subtle: var(--color-cta-900);
    --color-uncommon-default: var(--color-uncommon-400);
    --color-uncommon-subtle: var(--color-uncommon-900);
    --color-neutral-default: var(--color-neutral-400);
    --color-neutral-subtle: var(--color-neutral-900);
    --color-success-default: var(--color-success-400);
    --color-success-subtle: var(--color-success-900);
    --color-error-default: var(--color-error-400);
    --color-error-subtle: var(--color-error-900);
    --color-warning-default: var(--color-warning-400);
    --color-warning-subtle: var(--color-warning-900);
  }
</style>
