---
import { SITE_TITLE, SITE_DESCRIPTION } from '../config'
import { ViewTransitions } from 'astro:transitions'
import { getImage } from 'astro:assets'
import defaultSocialImage from '../assets/joshmedeski-social.jpeg'
import type { ImageMetadata } from 'astro'

const isProd = import.meta.env.PROD
const canonicalUrl = new URL(Astro.url.pathname, Astro.site)

export interface Props {
  title?: string
  description?: string
  themeColor?: string
  image?: ImageMetadata
}

const { title, description, themeColor, image } = Astro.props

const socialImage = await getImage({
  src: image ?? defaultSocialImage,
  width: 1024,
  height: 768,
  format: 'jpeg',
})

const socialImageUrl = new URL(socialImage.src, Astro.url)
---

<head>
  <!-- Global Metadata -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="generator" content={Astro.generator} />
  <meta name="theme-color" content={themeColor ?? "#ffffff"} />

  <link rel="icon" href="/favicon.ico" sizes="any" /><!-- 32×32 -->
  <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" /><!-- 180×180 -->
  <link rel="manifest" href="/manifest.webmanifest" />

  <!-- Primary Meta Tags -->
  <title>{title} | {SITE_TITLE}</title>
  <meta name="title" content={title || "Home"} />
  <meta name="description" content={description || SITE_DESCRIPTION} />
  <link rel="canonical" href={canonicalUrl} />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content={Astro.url} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={socialImageUrl} />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content={Astro.url} />
  <meta property="twitter:title" content={title} />
  <meta property="twitter:description" content={description} />
  <meta property="twitter:image" content={socialImageUrl} />
  <meta name="twitter:image:width" content="1400" />
  <meta name="twitter:image:height" content="788" />

  <!-- Use Fathom Analytics cSpell:word VLMOLRDQ -->
  {
    isProd && (
      <script
        src="https://cdn.usefathom.com/script.js"
        data-site="VLMOLRDQ"
        defer
      />
    )
  }

  <ViewTransitions fallback="swap" />
</head>
