---
import Layout from "./Layout.astro";
import clsx from "clsx";

const {
  content: { title, titleClasses, description, hideCta, image },
} = Astro.props;
---

<Layout title={title} description={description} hideCta={hideCta} image={image}>
  <div class="grid md:grid-cols-3">
    <main class="mb-20 mt-10 bg-white md:col-span-2">
      <article
        class="prose mx-auto max-w-screen-md bg-white px-4 prose-a:text-blue-600 hover:prose-a:text-blue-500"
      >
        <h1
          class={clsx([
            "mb-2 text-center text-2xl font-extrabold md:text-4xl",
            titleClasses,
          ])}
        >
          {title}
        </h1>
        <slot />
      </article>
    </main>

    <aside>
      <h2>Guide Content</h2>
      <ul>
        <li>Terminal - Alacritty</li>
        <li>Shell - Fish</li>
        <li>Session Manager - tmux</li>
        <li>Editor - Neovim</li>
      </ul>
    </aside>
  </div>
</Layout>
