---
import CalltoAction from "../components/CallToAction.jsx";
import clsx from "clsx";
import Categories from "../components/Categories.astro";
import { categories, Category } from "../models/Category.astro";
import Layout from "./Layout.astro";

export interface BlogPostFrontmatter {
  title: string;
  description: string;
  pubDate: string;
  categorySlug?: string;
  updatedDate?: string;
  youtubeUrl?: string;
  heroImage?: string;
  heroClasses?: string;
  draft?: boolean;
}

export interface Props {
  content: BlogPostFrontmatter;
}

const {
  content: {
    title,
    description,
    pubDate,
    updatedDate,
    heroImage,
    categorySlug,
    heroClasses,
    youtubeUrl,
  },
} = Astro.props;
const category = categories.find(
  ({ slug }) => slug === categorySlug
) as Category;
---

<Layout
  title={title}
  description={description}
  image={heroImage}
  themeColor={category.style?.themeColor}
>
  <header
    style={`background-color: ${category.style?.themeColor}`}
    class="pb-8"
  >
    <div class="mx-auto max-w-screen-md px-4 pt-10 text-center">
      <a href={`/categories/${category.slug}`}>
        <category.icon class="w-10 mx-auto mb-4" />
      </a>
      <h1 class="font-extrabold text-2xl md:text-4xl mb-2">{title}</h1>
      <div
        class={clsx(
          "flex justify-center space-x-2 font-medium",
          category.style?.desc
        )}
      >
        <a href={`/categories/${category.slug}`} class={clsx("mr-2 block")}>
          {category.title}
        </a>
        {
          pubDate && (
            <time>
              {new Date(pubDate).toLocaleDateString("en-US", {
                dateStyle: "long",
              })}
            </time>
          )
        }
        {
          updatedDate && (
            <div class="text-neutral-400">
              Last updated on <time>{updatedDate}</time>
            </div>
          )
        }
      </div>
    </div>

    <div class="mt-4">
      <div class="z-40 mx-auto max-w-screen-sm">
        {
          youtubeUrl ? (
            <div class="shadow-lg rounded-md">
              <iframe
                width="100%"
                height="100%"
                class="aspect-video w-full rounded-md bg-black shadow-lg"
                src={youtubeUrl}
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              />
            </div>
          ) : (
            <img
              class:list={[
                heroClasses,
                "bg-black w-full rounded-md shadow-lg aspect-video",
              ]}
              src={heroImage}
              alt={`${title} hero`}
            />
          )
        }
      </div>
    </div>
  </header>

  <main class="mb-20 mt-10 bg-white">
    <article
      class="px-4 prose mx-auto max-w-screen-md prose-a:text-blue-600 hover:prose-a:text-blue-500 bg-white"
    >
      <slot />
    </article>
  </main>

  <Categories />
  <CalltoAction client:visible />
</Layout>
