---
import type { MarkdownInstance } from "astro";
import type { BlogPostFrontmatter } from "../layouts/BlogPost.astro";
import type { Props as CatProps } from "../components/Category.astro";
import { categories } from "../components/Categories.astro";
export interface Props extends MarkdownInstance<BlogPostFrontmatter> {}
const {
  url,
  frontmatter: { title, description, pubDate, categorySlug, heroImage },
} = Astro.props;
const cat = categories.find((cat) => cat.slug === categorySlug) as CatProps;
---

<a href={url} class="">
  {
    heroImage && (
      <img src={heroImage} alt={title} class="rounded-md shadow-sm mb-4" />
    )
  }
  <div class="mx-2">
    <h3 class="font-extrabold leading-none mb-2 text-xl">
      {title}
    </h3>
    <p class="text-sm mb-2">{description}</p>
    <div class="flex justify-between">
      <div class="flex text-sm">
        <p class="mr-2 block">
          {cat.title}
        </p>
        <time datetime={pubDate}>
          {new Date(pubDate).toLocaleDateString("en-US", { dateStyle: "long" })}
        </time>
      </div>
    </div>
  </div>
</a>
