---
import type { MarkdownInstance } from "astro";
import type { BlogPostFrontmatter } from "../layouts/BlogPost.astro";
import type { Props as CatProps } from "../components/Category.astro";
import { categories } from "../components/Categories.astro";
import clsx from "clsx";
export interface Props extends MarkdownInstance<BlogPostFrontmatter> {}
const {
  url,
  frontmatter: { title, description, categorySlug, heroImage },
} = Astro.props;
const cat = categories.find((cat) => cat.slug === categorySlug) as CatProps;
---

<section class="mx-auto max-w-screen-xl pt-16">
  <a href={url} class="p-4 flex justify-center mb-6">
    <img
      src={heroImage}
      alt={title}
      class="max-w-lg sm:mr-10 rounded-2xl shadow-md"
    />

    <div class="mt-10">
      <div class="mb-2">
        <span
          class="font-extrabold text-sm rounded-full px-3 py-1 bg-indigo-500 text-white leading-none uppercase"
        >
          Latest
        </span>
      </div>

      <h3 class={clsx("font-extrabold leading-none mb-4 text-3xl")}>
        {title}
      </h3>
      <p class="mb-2">{description}</p>
      <div class={clsx("font-medium underline text-xl")}>Read</div>
    </div>
  </a>
</section>
