---
import type { MarkdownInstance } from "astro";
import clsx from "clsx";
import { categories } from "../../models/Category.astro";
import type { Category } from "../../models/Category.astro";
import type { Post } from "../../models/Post.astro";
export interface Props extends MarkdownInstance<Post> {}
const {
  url,
  frontmatter: { title, description, pubDate, categorySlug, heroImage },
} = Astro.props;
const cat = categories.find((cat) => cat.slug === categorySlug) as Category;
---

<a href={url} class="">
  {
    heroImage && (
      <img
        src={heroImage}
        alt={title}
        class="rounded-md shadow-sm mb-4 aspect-video bg-black"
      />
    )
  }
  <div class="mx-2">
    <div
      class={clsx(
        "flex flex-wrap justify-between mb-2 font-medium tracking-wide text-sm",
        cat.style?.desc
      )}
    >
      <div class="flex items-center">
        <cat.icon class="w-4 mr-2" />
        <p class="mr-2 block">
          {cat.title}
        </p>
      </div>
      <time datetime={pubDate}>
        {new Date(pubDate).toLocaleDateString("en-US", { dateStyle: "long" })}
      </time>
    </div>
    <h3 class="font-extrabold leading-none mb-1 text-xl">
      {title}
    </h3>
    <p class="text-sm mb-2">{description}</p>
  </div>
</a>
