---
import type { CollectionEntry } from "astro:content";
import PostMeta from "./PostMeta.astro";
import Wrapper from "../Wrapper.astro";

interface Props {
  post: CollectionEntry<"posts">;
}
const { post } = Astro.props;
---

<Wrapper>
  <section class="mb-20 gap-6 pt-16 md:flex md:flex-row-reverse">
    <a href={`/posts/${post.id}`} class="w-full">
      <img
        src={post.data.heroImage}
        alt={post.data.title}
        class="aspect-video w-full rounded-xl shadow-md"
      />
    </a>

    <div class="w-full max-w-prose">
      <a href={`/posts/${post.id}`}>
        <h3 class="mb-3 mt-10 text-2xl font-extrabold md:text-4xl">
          {post.data.title}
        </h3>
      </a>
      <PostMeta post={post} />
      <p class="mb-2 text-lg">{post.data.description}</p>
    </div>
  </section>
</Wrapper>
