---
import { getEntry } from "astro:content";
import clsx from "clsx";

import type { CollectionEntry } from "astro:content";

import CategoryIcon from "~/components/CategoryIcon.astro";

interface Props {
  post: CollectionEntry<"posts">;
}

const {
  post: {
    slug,
    data: { category: postCategory, heroImage, title, pubDate, description },
  },
} = Astro.props;

const category = await getEntry(postCategory);
---

<div>
  <section class="mx-auto w-full max-w-screen-xl px-4 pt-16">
    <a href={`/posts/${slug}`} class="mb-6 lg:flex">
      <div class="mx-10 mt-10">
        <h3 class={clsx("font-extrabold leading-none mb-4 text-3xl")}>
          {title}
        </h3>

        <div
          class={clsx(
            "flex justify-between mb-2 font-medium tracking-wide",
            category.data.style.desc
          )}
        >
          <div class="flex text-sm">
            <CategoryIcon slug={category.slug} class="mr-2 w-4" />
            <p class="mr-2 block">
              {category.data.title}
            </p>
            <time datetime={String(pubDate)}>
              {
                new Date(pubDate).toLocaleDateString("en-US", {
                  dateStyle: "long",
                })
              }
            </time>
          </div>
        </div>

        <p class="mb-2 text-lg">{description}</p>
      </div>

      <img
        src={heroImage}
        alt={title}
        class="aspect-video w-full max-w-xl rounded-md shadow-md sm:mr-10"
      />
    </a>
  </section>
</div>
