---
import type { CollectionEntry } from 'astro:content'
import { getEntry } from 'astro:content'
import Layout from '../Layout.astro'
import Wrapper from '../Wrapper.astro'
import PostMeta from './PostMeta.astro'
import { Image } from 'astro:assets'

interface Props {
  post: CollectionEntry<'posts'>
}

const { post } = Astro.props
const category = await getEntry(post.data.category)
---

<Layout
  title={post.data.title}
  description={post.data.description}
  image={post.data.heroImage}
  themeColor={category?.data.style.themeColor}
>
  <div data-pagefind-body>
    <div class={category?.data.style.themeColor}>
      <section class="pt-16 pb-48">
        <Wrapper>
          <header class="flex flex-col gap-6">
            <div class="relative aspect-video max-w-[810px] mx-auto w-full">
              {
                post.data.youtubeUrl && (
                  <div class="animate-fade-in absolute inset-0 z-20 w-full rounded-xl shadow-lg">
                    <iframe
                      width="100%"
                      height="100%"
                      class="aspect-video w-full rounded-xl bg-black shadow-lg"
                      src={post.data.youtubeUrl}
                      title="YouTube video player"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen
                    />
                  </div>
                )
              }
              <Image
                class:list={[
                  post.data.heroClasses,
                  'absolute inset-0 z-10 aspect-video w-full rounded-xl bg-black shadow-lg',
                ]}
                src={post.data.heroImage}
                width="1920"
                height="1080"
                alt={`${post.data.title} hero`}
                transition:name={`post-${post.id}-thumb`}
              />
            </div>

            <div class="text-center">
              <h1 class="mb-4 text-4xl font-extrabold md:text-6xl">
                {post.data.title}
              </h1>
              <PostMeta post={post} />
            </div>
          </header>
        </Wrapper>
      </section>

      <div
        class="mx-auto max-w-[760px] -mt-32 rounded-t-[2.5rem] bg-black px-6 pt-8 md:px-10 md:pt-10"
      >
        <main class="prose prose-invert prose-lg max-w-full pb-16 md:pb-20">
          <slot />
        </main>
      </div>
    </div>
  </div>
  <slot name="after-post" />
</Layout>
