---
import { CollectionEntry, getEntry } from "astro:content";
import Wrapper from "../Wrapper.astro";
import PostMeta from "./PostMeta.astro";

interface Props {
  post: CollectionEntry<"posts">;
}
const { post } = Astro.props;
const category = await getEntry(post.data.category);
---

<div
  class="relative flex flex-col justify-end rounded-lg px-6 py-4 shadow-md"
  style={{ backgroundColor: category?.data?.style?.themeColor }}
>
  <a href={`/posts/${post.slug}`} class="z-20 grid grow grid-cols-5 gap-6">
    <div class="col-span-2 col-start-4 row-start-1 flex flex-col justify-end">
      <img
        src={post.data.heroImage}
        alt={post.data.title}
        class="mb-8 aspect-video w-full rounded-lg bg-black shadow-md"
        style={{ backgroundColor: category.data.style.themeColor }}
      />
    </div>

    <div class="col-start-0 col-span-3 row-start-1 flex flex-col justify-end">
      <div class="flex grow flex-col justify-center">
        <h3 class="mb-2 mr-4 text-xl font-extrabold leading-tight">
          {post.data.title}
        </h3>
      </div>

      <p class="-ml-3 mb-12 rounded-t-md bg-white p-3 text-sm text-slate-500">
        {post.data.description}
      </p>
    </div>
  </a>

  <div class="z-10 -mx-6 -mb-4 -mt-20 rounded-b-lg bg-white px-6 pb-2 pt-14">
    <PostMeta post={post} />
  </div>
</div>
