---
import { getCollection } from 'astro:content'
import type { CollectionEntry } from 'astro:content'
import { Image, getImage } from 'astro:assets'
import Layout from '~/components/Layout.astro'
import Wrapper from '~/components/Wrapper.astro'
import PageTitle from '~/components/PageTitle.astro'

export async function getStaticPaths() {
  const wallpapers = await getCollection('wallpapers')
  return wallpapers.map((wallpaper) => {
    return {
      params: { id: wallpaper.id },
      props: { wallpaper },
    }
  })
}

interface Props {
  wallpaper: CollectionEntry<'wallpapers'>
}

const { wallpaper } = Astro.props

const download1080p = await getImage({
  src: wallpaper.data.image,
  format: 'jpeg',
  width: 1920,
  height: 1080,
})

const { width = 0, height = 0 } = wallpaper.data
const is4k = width >= 3840 && height >= 2160

const download4k = is4k
  ? await getImage({
      src: wallpaper.data.image,
      format: 'jpeg',
      width: 3840,
      height: 2160,
    })
  : null

---

<Layout title={wallpaper.data.title} image={wallpaper.data.image}>
  <Wrapper>
    <a href="/wallpapers" class="mt-8 block text-primary-500">← Back to all wallpapers</a>

    <PageTitle>
        {wallpaper.data.title}
     </PageTitle>

    <div class="flex flex-wrap justify-center gap-4 mb-6">
      <a
        href={download1080p.src}
        download={wallpaper.data.title + ' 1080p.jpeg'}
        class="rounded-lg bg-primary-500 px-6 py-3 font-bold text-white"
      >
        Download HD
      </a>
      {download4k && (
        <a
          href={download4k.src}
          download={wallpaper.data.title + ' 4K.jpeg'}
          class="rounded-lg bg-primary-500 px-6 py-3 font-bold text-white"
        >
          Download 4K
        </a>
      )}
    </div>

    <Image
      src={wallpaper.data.image}
      alt={wallpaper.data.title}
      width="1920"
      height="1080"
      class="mb-16 w-full rounded-2xl bg-black shadow-md"
      transition:name={`wallpaper-${wallpaper.id}-thumb`}
    />
  </Wrapper>
</Layout>
