---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import CalltoAction from "../components/CallToAction.jsx";

export interface BlogPostFrontmatter {
  title: string;
  description: string;
  pubDate: string;
  categories?: string[];
  updatedDate?: string;
  youtubeUrl?: string;
  heroImage?: string;
  heroClasses?: string;
}

export interface Props {
  content: BlogPostFrontmatter;
}

const {
  content: {
    title,
    description,
    pubDate,
    updatedDate,
    heroImage,
    categories,
    heroClasses,
    youtubeUrl,
  },
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={heroImage} />
  </head>

  <body>
    <Header />
    <main class="mb-20">
      <div class="mx-auto max-w-screen-md px-4 mb-10 text-center">
        <h1 class="font-extrabold text-2xl md:text-4xl mb-2 mt-10">{title}</h1>
        <div class="text-sm text-neutral-600 flex justify-center space-x-2">
          {
            pubDate && (
              <time>
                {new Date(pubDate).toLocaleDateString("en-US", {
                  dateStyle: "long",
                })}
              </time>
            )
          }
          {
            updatedDate && (
              <div class="text-neutral-400">
                Last updated on <time>{updatedDate}</time>
              </div>
            )
          }
          {
            categories && (
              <div class="text-neutral-600 flex space-x-2">
                {categories.map((cat: string) => (
                  <a href={`/${cat.toLowerCase()}`} class="underline">
                    {cat}
                  </a>
                ))}
              </div>
            )
          }
        </div>
      </div>

      <div class="mx-auto max-w-screen-md mb-6">
        {
          youtubeUrl && (
            <div class="shadow-lg mb-4 rounded-md">
              <iframe
                width="100%"
                height="100%"
                class="aspect-video w-full"
                src={youtubeUrl}
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              />
            </div>
          )
        }
        {
          heroImage && !youtubeUrl && (
            <img
              class:list={[heroClasses, "w-full rounded-md shadow-lg"]}
              src={heroImage}
              alt={`${title} hero`}
            />
          )
        }
      </div>

      <article
        class="px-4 prose mx-auto max-w-screen-md prose-a:text-blue-600 hover:prose-a:text-blue-500"
      >
        <slot />
      </article>
    </main>
    <CalltoAction client:visible />
    <Footer />
  </body>
</html>
